# Ignore node_modules and dependencies
node_modules
bower_components

# Ignore logs and temporary files
*.log
*.tmp
*.swp

# Ignore build directories
dist
build
out

# Ignore configuration files and environment files
.env
.env.local
.DS_Store

# Ignore Docker-related files if not needed
Dockerfile.*
docker-compose.*

# Ignore Git and version control metadata
.git
.gitlab-ci.yml

# Ignore IDE/Editor-specific files
.vscode
.idea
*.iml

# Ignore test-related files
coverage
